<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /recettesaipoo/
    
    # Redirecting to public directory
    RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
    RewriteRule ^ %1 [L,NE,R=302]
    
    RewriteRule ^$ public/index.php [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Protection des fichiers sensibles
<Files ~ "^\.">
    Order allow,deny
    Deny from all
</Files>

# Protection des fichiers de configuration
<FilesMatch "\.(sql|md|lock|log)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Désactiver l'affichage des répertoires
Options -Indexes